# Master configuration for the Trading Bot

# Server settings
[server]
orchestrator_interval = "10s" # Time interval for processing the signal of each pair.
shutdown_timeout = "10s" # Time to wait for graceful shutdown before force-quitting.

# Logging configuration
[log]
level = "info"    # Log level: "debug", "info", "warn", "error"
format = "text"   # Log format: "text" or "json"
source = true     # Enable source file and line number in logs

# gRPC server settings
[grpc]
go_bot_address = "localhost:50050"          # Not used by go-bot, but for other potential clients
python_gateway_address = "0.0.0.0:50051"    # Address for the go-bot to connect to (listen on all interfaces)
management_address = "0.0.0.0:50052"        # Address for the ML Engine to connect to (listen on all interfaces)

# Database configuration for the Go bot (using TimescaleDB/PostgreSQL)
[database]
host = "localhost"
port = 5432
user = "robot_user"
password = "your_password"
dbname = "trading_db"
sslmode = "disable" # Use "require" or "verify-full" in production

# Health Check Configuration
[health_check]
asset = "USDT"          # Asset to check balance for (proxy for health)
interval = "1m"         # Frequency of the check
retry_attempts = 3      # Number of retries on failure
retry_delay = "5s"      # Delay between retries

# Global Risk Management Settings
[risk]
max_open_positions = 3
max_daily_loss = 100.0

# Exchanges configuration for the Python gateway
[[exchange]]
name = "dummy"
sandbox_mode = false
# if ccxt is false exchange must have a custom implementation
ccxt = false

[[exchange]]
name = "binance"

# It's highly recommended to use environment variables for API keys in production
# For local development, you can place them here.
# api_key = "YOUR_API_KEY"
# api_secret = "YOUR_API_SECRET"

# Set to true for sandbox/testnet environments
sandbox_mode = true
# Enable ccxt support
ccxt = true
# Enable health check support
health_check = true
